.titulo-atividades {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-top: 85px;
  padding-bottom: 55px;
  place-content: center;
  position: relative;
}

.titulo-atividades::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  bottom: 40px;
  background-color: var(--cor-secundaria);
  position: absolute;
}

.atividades-img {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 40px;
}
