.info-bg {
  display: block;
  height: 40px;
  background-color: var(--cor-primaria);
}

.info-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: end;
}

.info-menu a:hover {
  color: #e8e8e8;
}

.info-menu li:not(:last-child) {
  border-right: 1px solid var(--cor-0);
  padding-right: 20px;
}

.site {
  display: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #2a2146;
  font: 600 1rem/24px "Poppins" sans-serif;
  text-transform: uppercase;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #2a2146;
  transition: 0.3s;
  position: absolute;
}

.header-menu a.ativo:hover::after {
  width: 100%;
}

.header-menu a.header-botao {
  color: var(--cor-0);
  background-color: var(--cor-secundaria);
  padding: 15px;
  border-radius: 25px;
}

.header-menu a.header-botao:hover {
  background-color: var(--cor-primaria);
}

.castelo {
  background-image: url(../img/Vilarejo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 1920 / 600;
  position: relative;
}

.castelo::after {
  content: "";
  display: block;
  background-image: url(../img/icones/setatransp.png);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1840px;
  top: 270px;
  cursor: pointer;
}

.castelo::before {
  content: "";
  display: block;
  background-image: url(../img/icones/setatranspesq.png);
  width: 60px;
  height: 60px;
  position: absolute;
  right: 1840px;
  top: 270px;
  cursor: pointer;
}
