/* Menu de Pesquisa */

.pesquisa-bg {
  box-sizing: border-box;
  margin-top: -50px;
  height: 130px;
  background-color: var(--cor-0);
  border-radius: 16px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4;
}

.pesquisa {
  display: flex;
  gap: 0 20px;
  padding: 35px;
}

.pesquisa input[type="text"],
input[type="select"] {
  width: 230px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.pesquisa ::placeholder {
  font: 500 16px/24px "Poppins", sans-serif;
  color: #707070;
  padding-left: 55px;
}

.botao-pesquisa {
  font: 600 16px/24px "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--cor-0);
  background-color: var(--cor-primaria);
  width: 240px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao-pesquisa:hover {
  background-color: var(--cor-secundaria);
}

#destino-img {
  background-image: url(../img/icones/mapa.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 18px;
  margin-left: 19px;
  position: absolute;
}

#atividade-img {
  background-image: url(../img/icones/pessoa.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 18px;
  margin-left: 16px;
  position: absolute;
}

#duracao-img {
  background-image: url(../img/icones/calendario.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 18px;
  margin-left: 16px;
  position: absolute;
}

#consulta-img {
  background-image: url(../img/icones/dinheiro.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 18px;
  margin-left: 23px;
  position: absolute;
}

.pesquisa img {
  padding-left: 205px;
  margin-top: -35px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
}

/* Nossos Pacotes */

.titulo-pacote {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-top: 85px;
  padding-bottom: 55px;
  place-content: center;
  position: relative;
}

.titulo-pacote::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  bottom: 40px;
  background-color: var(--cor-secundaria);
  position: absolute;
}

.pacotes {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 60px;
  position: relative;
}

.pacotes::after {
  content: "";
  display: block;
  background-image: url(../img/icones/seta_maior.png);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1320px;
  top: 260px;
  cursor: pointer;
}

.pacotes::before {
  content: "";
  display: block;
  background-image: url(../img/icones/setaesq.png);
  width: 60px;
  height: 60px;
  position: absolute;
  right: 1320px;
  top: 260px;
  cursor: pointer;
}

.viagens {
  box-sizing: border-box;
  background-color: var(--cor-0);
  width: 400px;
  height: 600px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.viagens-subtitulo {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.viagens p {
  height: 70px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.viagens ul {
  padding-left: 70px;
  position: relative;
  list-style: initial;
}

.viagens ul::after {
  content: "";
  display: block;
  width: 345px;
  height: 0px;
  border: 1px solid #e5e5e5;
  position: absolute;
  bottom: -15px;
  right: 25px;
  left: 25px;
}

.viagens li {
  color: rgba(0, 0, 0, 0.8);
  height: 20px;
}

.viagem-preco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
}

.viagem-preco::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icones/localizacao.png);
  width: 12px;
  height: 15px;
  position: absolute;
  top: 40px;
  left: 25px;
}

/* Exemplo para funcionar sem utilizar classe direta nos spans */

/* .viagem-preco span:not(:first-child) {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
} */

.zoom-img {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.zoom-img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
